@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Lato, sans-serif;
}
html *,
body * {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
select {
    height: 2rem;
    border-radius: 0.25rem;
    width: 100px;
}
select option {
    text-align: center;
}
img {
  max-width: 75vw;
  height: auto;
  border-radius: 1rem;
}
@media only screen and (min-width: 600px) {
  img {
    max-width: 600px;
  }
}

.header {
  display: grid;
  place-items: center;
}
.header .attribution {
  font-size: 4rem;
}
.header .attribution + p {
  margin-top: -2.5rem;
  font-size: 0.75rem;
}
.header p {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
.header div {
  display: grid;
  place-items: center;
}

.card {
  padding: 1rem;
  border: 1px black solid;
  border-radius: 2rem;
  display: grid;
  place-items: center;
  grid-auto-rows: minmax(2rem, auto);
}
.card .title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}